.flex-container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    width:75%;
    margin: auto;
}

.array-container{
    display:flex;
    justify-content:center;
}

.array-bar {
    width:2px;
    display:inline-block;
    align-self:flex-end;
    margin: 0 1px;
}

.button-container{
    display:flex;
}


